{% extends 'page/base.html' %}
{% load static %}

{% block content %}
<div class="text-center">
    <h1 class="display-4 mb-4">나만의 작은 스마트팜</h1>
    <p>쉽고 간편한 조작 높은 접근성 실시간 데이터  자신만의 스마트팜을 운영해보세요</p>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <a href="{% url 'graph:graph' %}" class="btn btn-primary btn-lg w-100">
                실시간 그래프
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'video:video' %}" class="btn btn-success btn-lg w-100">
                실시간 영상
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a href="{% url 'control:control' %}" class="btn btn-warning btn-lg w-100">
                라즈베리파이 제어
            </a>
        </div>
    </div>
</div>
{% endblock %}
