{% extends 'single_pages/layout.html' %}

{% block content %}
<div class="container-md mt-5">
    <header class="text-center mb-4">
        <h1>나의 커리어</h1>
        <p>저의 학력과 경력을 소개합니다.</p>
    </header>

    <section>
        <h2 class="mb-3"><b>학력</b></h2>
        <ul class="list-group mb-5 shadow-lg">
            {% for edu in education %}
                <li class="list-group-item">
                    <h5>{{ edu.title }}</h5>
                    <p>{{ edu.content }}</p>
                </li>
            {% endfor %}
        </ul>

        <h2 class="mb-3"><b>경력</b></h2>
        <ul class="list-group shadow-lg">
            {% for career in careers %}
                <li class="list-group-item">
                    <h5>{{ career.title }}</h5>
                    <p>{{ career.content }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <footer class="text-center mt-5">
        &copy; 2024 나의 커리어 페이지
    </footer>
</div>


{% endblock %}