{% extends 'layout.html' %}

{% block content %}
<header>
    <h1>나의 커리어</h1>
    <p>저의 학력과 경력을 소개합니다.</p>
</header>
<section>

        <h1>학력</h1>
        <ul>
            {% for edu in education %}
                <li>
                    <h2>{{ edu.title }}</h2>
                    <p>{{ edu.content }}</p>
                </li>
            {% endfor %}
        </ul>

        <h1>경력</h1>
        <ul>
            {% for career in careers %}
                <li>
                    <h2>{{ career.title }}</h2>
                    <p>{{ career.content }}</p>
                </li>
            {% endfor %}
        </ul>
</section>
<footer>
    &copy; 2024 나의 커리어 페이지
</footer>
{% endblock %}