{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% for post in post_list %}
                    <div class="col-md-4 mb-3 mt-3">
                        <div class="card h-100 shadow-lg" style="height: 200px; overflow: hidden;">
                            <div class="card-body">
                                <h2 class="card-title" style="font-size: 1.2rem;"><b>{{ post.title }}</b></h2>
                                <hr>
                                <p class="card-text" style="font-size: 0.8rem;">{{ post.created_at }}</p>
                                <p class="card-text" style="font-size: 1.0rem;">{{ post.content|truncatechars:50 }}</p>
                                <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm">더 읽기</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h2>Sidebar</h2>
            <p>This is the sidebar area where additional content can be placed.</p>
        </div>
    </div>
</div>
{% endblock %}